doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Platzigram
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(href='https://fonts.googleapis.com/css?family=Roboto | Oleo+Script', rel='stylesheet')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    section#main_container

    // footer
    section
      footer#site-footer
        .container
          .row.text-center
            .col-12.col-lg-3
              .dropdown
                button#dropdownMenuButton.btn.btn-secondary.btn-outline-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Idioma
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                  a.dropdown-item(href='#') Español
                  a.dropdown-item(href='#') Ingles
            .col-12.col-lg-3.offset-lg-6.align-content-center © 2018 Platzigram
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/app.js')

